<!-- views/partials/head
<title>EJS Test Page</title>
<link rel="stylesheet" href="/static/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="/static/js/bootstrap.bundle.js"></script>
<script>
    $(document).ready(()=>{
        console.log(document.cookie);
    })
</script>
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home Page- My Dope Music</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="nav&title.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
