<title>Login/Sign Up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/bootstrap.css"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.Rimage{
    font-size: 18pt;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 350px;
    padding: 10px;
    color:aliceblue;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgb(141, 48, 48);

}
.Limage {
    font-size: 18pt;
    left: 0;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 350px;
    padding: 10px;
    color:aliceblue;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgb(141, 48, 48);
}
.body {
    display: inline-block;
    position: fixed;
    font-size: 18pt;

    bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    padding: 10px;

    color:aliceblue;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgb(141, 48, 48);
}
.card {
    display: inline-block;
    width: auto;
    height:auto;

    }
</style>