<!-- views/partials/nav.ejs

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CIS329 EJS Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/ejs">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/auth">Login</a>
        </li>
      </ul>
    </div>
  </nav>
-->
<nav>
  <h2 >
    <p class="block"><a href="/loginhead.ejs" class="navigation btn btn-danger">Login/Sign Up </a>
    <a  href="loginhead.ejs" class="navigation btn btn-danger">My Playlists</a>
    <a href="loginhead.ejs" class="navigation btn btn-danger">Profile</a>
    <a href="U_About.html" class="navigation btn btn-danger">About</a>
    <a href="U_Albums.html" class="navigation btn btn-danger">Discover Albums</a>
    </p>
    <p>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control navigation mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" style="color: white" type = submit>Search</button>
    </form>

    </p>
  </h2>
</nav>