<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="nav&title.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">

    <style>
        .Rimage {
            font-size: 18pt;
            right: 0;
            bottom: 0;
            margin-right: 50px;
            margin-bottom: 350px;
            padding: 10px;
            color: aliceblue;
            border: 2px solid black;
            box-shadow: 5px 5px 10px rgb(141, 48, 48);

        }

        .Limage {
            font-size: 18pt;
            left: 0;
            bottom: 0;
            margin-left: 50px;
            margin-bottom: 350px;
            padding: 10px;
            color: aliceblue;
            border: 2px solid black;
            box-shadow: 5px 5px 10px rgb(141, 48, 48);
        }

        .body {
            display: inline-block;
            position: fixed;
            font-size: 18pt;

            bottom: 0;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 150px;
            padding: 10px;

            color: aliceblue;
            border: 2px solid black;
            box-shadow: 5px 5px 10px rgb(141, 48, 48);
        }

        .card {
            display: inline-block;
            width: auto;
            height: auto;

        }
    </style>
</head>

<body>
    <h2>
        <script>
           alert("Hello! I am an alert box!!"); 
        </script>

        <p class="block"><a href="/" class="navigation btn btn-danger">Home </a>
                   <a href="/uabout" class="navigation btn btn-danger">About</a>
            <a href="/ualbums" class="navigation btn btn-danger">Discover Albums</a>
        </p>
        <p>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control navigation mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" style="color: white" type=submit>Search</button>
            </form>

        </p>
    </h2>
    <br /> <br />
            <label style="color: aliceblue;"  for="exampleDropdownFormEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" name="email"placeholder="email@example.com">

            <label style="color: aliceblue;" for="exampleDropdownFormPassword1">Enter url:</label>
            <input type="url" placeholder="http://example.com">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" style="color: aliceblue;" for="dropdownCheck">
                    Remember me
                </label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn " style="background-color:red; color: aliceblue;">Sign in</button>
            
         
          </form>
    </div>