<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pares' Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="nav&title.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
    .tabs {
        position: relative;   
        min-height: 600px; /* This part sucks */
        clear: both;
        margin: 25px 0;
        box-shadow:  0px 10px 4px rgb(141, 48, 48);
    }
    .tab {
        float: left;
    }
    .tab label {
        background: #eee; 
        padding: 10px; 
        border: 1px solid #ccc; 
        margin-left: -1px; 
        position: relative;
        left: 1px; 
    }
    .tab [type=radio] {
        display: none;

    }
    .content {
        position: absolute;
        top: 43px;
        left: 0;
        background: white;
        right: 0;
        bottom: 0;
        padding: 20px;
        border: 1px solid #ccc; 
    }
    [type=radio]:checked ~ label {
        background: white;
        border-bottom: 1px solid white;
        z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
        z-index: 1;
    }
    .box{
        width:50%;
        height: 500%;
        background-color: black;
        border-radius: 6px;
        box-shadow: 5px 5px 10px rgb(141, 48, 48);
    }
    .card {
            display: inline-block;
            width: 19rem;
            height:15rem;

        }

    </style>
</head>
<body>

    <h2 >
        <p class="block"><a href="/login" class="navigation btn btn-danger">Log Out</a>
        <a  href="/rplaylist" class="navigation btn btn-danger">My Playlists</a>
        <a href="/uabout" class="navigation btn btn-danger">About</a>
        <a href="/aalbums" class="navigation btn btn-danger">Discover Albums</a>
        <a href="/ahome" class="navigation btn btn-danger">Home</a>
        </p>
        <p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control navigation mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" style="color: white" type = submit>Search</button>
        </form>

        </p>
    </h2>
    <h1 style= "font-size: 60pt;"> My Dope Music</h1>
    <br><br>
    <div class="box">
        <br>
        <h4 style="text-align: left;margin-left:20px; color: white;" ><img style= "width: 50px; height: 50px;" src="https://www.iamag.co/wp-content/uploads/2013/11/olaf-frozen-summer.jpg"  alt="Profile Picture">&nbsp@User432 </a></h4>

        <div class="tabs" style="margin-left:20px; width: 80%; height: 800%;">
        
            <div class="tab" style= "border: 3px black solid;  bottom: 8px;">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Top listened songs</label>
                <div class="content" style= "border: 3px black solid;">
                    <br><br><br>
                    <div class="tracklist1">
                        <br>
                        <h4 style="text-align: center;">Your Top Songs</h4>
                        <br>
                        <div class="btn-group-vertical" style= "width: 100%; margin-left: 0px; margin-right: -15px;">
                           <button type="button" class="btn btn-dark">Shaolin Monk Motherfunk-Hiatus Kaiyote</button>
                           <button type="button" class="btn btn-dark">Match My Fly- Moneybagg Yo</button>
                           <button type="button" class="btn btn-dark">Good At- Megan Thee Stallion</button>
                           <button type="button" class="btn btn-dark">Poison- Rod Wave</button>
                           <button type="button" class="btn btn-dark">Breathing Underwater-Hiatus Kaiyote</button>
                           <button type="button" class="btn btn-dark">Brace Face - Rod Wave</button>
                         </div>
                    </div>
                </div> 

            </div>
            
            <div class="tab" style= "border: 3px black solid;  bottom: 8px;">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Tab Two</label>
                
                <div class="content " style= "border: 3px black solid;">
                    <BR><BR></BR></BR>
                    <div style= " text-align: center; height: 70%;">
                        <br>
                        <div class = "row row-cols-2" > 
                            <div class="card col" style="width:18rem">
                                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/25/Megan_Thee_Stallion_-_Tina_Snow.png/220px-Megan_Thee_Stallion_-_Tina_Snow.png" width= 150px height= 190px alt="Album7">
                                <p  class="card-title" style="font-size: 10pt; color: black;"> <a href="U_Product7.html">Meg Thee Stallion- <b>Tina Snow</b> </a> </p>
                                <div class="card-body">
                                    <a href="U_Product7.html" title= "Add to Favorites" class="btn w3-display-bottomright"  style="margin-bottom: -3px; margin-right: -3; color: black;">+</a>
                        
                                </div>
                            </div>
                        <br>
                            <div class="card  col">
                                <img class="card-img-top" src="https://images.genius.com/a41497ee59ea7d58b1bc0570b5c2227f.1000x1000x1.jpg" width= 150px height= 190px margin-top= 5px alt="Album8">
                                <p  class="card-title" style="font-size: 10pt; color: black;"> <a href="U_Product8.html">Jubilee Worship- <b>Atmosphere</b> </a> </p>
                                <div class="card-body">
                                    <a href="U_Product8.html" title= "Add to Favorites" class="btn w3-display-bottomright"  style="margin-bottom: -3px; margin-right: -3; color: black">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
            <div class="tab" style= "border: 3px black solid;  bottom: 8px;">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label for="tab-3">Websit Demographics</label>
            
                <div class="content" style= "border: 3px black solid;">
                    This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.This is the 3rd great PROFILE description of My Dope Music.
                </div> 
            </div>
            
        </div>
    </div>

    
</body>
</html>
