<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rod Wave-Ghetto Gospel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="nav&title.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .card {
            display: inline-block;
            margin-right: 100px;
            margin-left: 100px;
            width: 8rem;
            height:12rem;

        }
        .tracklist{
            color: grey;
        }
    </style>

</head>
<body>
    <h2 >
        <p class="block"><a href="/uhome" class="navigation btn btn-danger">Home</a>

            <a href="/login" class="navigation btn btn-danger">Login/Sign Up </a>
            <a  href="/login" class="navigation btn btn-danger">My Playlists</a>
            <a href="/login" class="navigation btn btn-danger">Profile</a>
            <a href="/uabout" class="navigation btn btn-danger">About</a>
            <a href="/ualbums" class="navigation btn btn-danger">Discover Albums</a>
            </p>
            <p>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control navigation mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" style="color: white" type = submit>Search</button>
        </form>

        </p>
    </h2>
    <br /> <br />
    <h1 style= "font-size: 60pt;"> My Dope Music</h1>

    <br/><br><br><br>
    
     <div class="tracklist">
         <h3 style="text-align: center;"><img class="card-img-top" style= "width: 50px; height: 50px;" src="https://images.genius.com/5f7de4c3be6b529073a1e52cf87a5e19.440x440x1.jpg"  alt="Album1">&nbsp&nbspRod Wave- <b>Ghetto Gospel</b> </a></h3>

         <div class="btn-group-vertical" style= "width: 100%; margin-left: 0px; margin-right: -15px;">
            <br>
            <h4>Tracklist</h4>
            <button type="button" class="btn btn-dark">Sky Priority</button>
            <button type="button" class="btn btn-dark">Dark Conversations</button>
            <button type="button" class="btn btn-dark">Close Enough to Hurt</button>
            <button type="button" class="btn btn-dark">Green Light</button>
            <button type="button" class="btn btn-dark">Brace Face</button>
            <button type="button" class="btn btn-dark">Poison</button>
            <button type="button" class="btn btn-dark">Cuban Links</button>
            <button type="button" class="btn btn-dark">Soldier Life</button>
          </div>
     </div>

     <div class="bio" style="float: right">
        <h4><b> Rod Wave</b> </a></h4>
        <p> Rodarius Marcell Greene, known professionally as Rod Wave, is an American rapper, singer, and songwriter. He is signed to Alamo Records. His debut EP, Ghetto Gospel was released on November 1, 2019, and peaked at number 3 on the US Billboard 200.
            Greene was born on August 27, 1999 in St. Petersburg Florida. He was raised by his mother and father, who eventually separated while he attended elementary school. He began singing in the fifth grade.
        </p>
    </div>
    <div class="suggestion" style= "display: inline-block; text-align: center;">
        <h5>Other Albums to Check Out!</h5>
        <br>
        <div class = "row row-cols-2" > 
            <div class="card col" >
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/25/Megan_Thee_Stallion_-_Tina_Snow.png/220px-Megan_Thee_Stallion_-_Tina_Snow.png" height= auto alt="Album7">
                <p  class="card-title" style="font-size: 10pt; color: black;"> <a href="U_Product7.html">Meg Thee Stallion- <b>Tina Snow</b> </a> </p>
                <div class="card-body">
                    <a href="U_Product7.html" title= "Add to Favorites" class="btn w3-display-bottomright"  style="margin-bottom: -3px; margin-right: -3; color: black;">+</a>
        
                </div>
            </div>
        <br>
            <div class="card  col">
                <img class="card-img-top" src="https://images.genius.com/a41497ee59ea7d58b1bc0570b5c2227f.1000x1000x1.jpg" height= auto margin-top= 5px alt="Album8">
                <p  class="card-title" style="font-size: 10pt; color: black;"> <a href="U_Product8.html">Jubilee Worship- <b>Atmosphere</b> </a> </p>
                <div class="card-body">
                    <a href="U_Product8.html" title= "Add to Favorites" class="btn w3-display-bottomright"  style="margin-bottom: -3px; margin-right: -3; color: black">+</a>
                </div>
            </div>
        </div>
</body>
</html>